/* FOOTER */

footer {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    row-gap: 50px;
    padding-block: 60px;
    padding-inline: 200px;
}

.footer-logo {
    display: flex;
    align-items: flex-start;
}

.footer-logo-itself {
    display: flex;
    align-items: center;
    column-gap: 5px;
    text-decoration: none;
}

.footer-logo-svg {
    border-radius: 0.2rem;
}

.footer-logo-text {
    color: black;
    font-family: var(--f-satoshi-medium);
    font-size: 1.2rem;
}

.footer-links {
    font-family: var(--f-inter);
    display: flex;
    column-gap: 100px;
}

.footer-links-inner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-links-inner-text {
    color: rgb(64,64,64);
}

.footer-links-inner-link {
    text-decoration: none;
    color: rgb(64,64,64);
    transition: color 300ms;
}

.footer-links-inner-link:hover {
    color: black;
}

/* MEDIA QUERIES */

@media (max-width: 1300px) {
    footer {
        padding-inline: 150px;
    }
}

@media (max-width: 1200px) {
    footer {
        padding-inline: 100px;
    }

}

@media (max-width: 1000px) {
    footer {
        padding-inline: 50px;
    }
}

@media (max-width: 800px) {
    footer {
        padding-inline: 20px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .footer-links {
        flex-direction: column;
        row-gap: 25px;
    }
    .footer-logo-svg {
        display: none;
    }
    .footer-logo {
        align-items: center;
    }
    .footer-logo-text {
        font-size: 1.5rem;
    }
    .footer-links-inner {
        align-items: center;
    }
}