/* MAIN */

main {
    padding-top: 145px;
}

/* MAIN HEADER */

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
}

.main-header-svg {
    display: flex;
}

.main-header-svg-itself {
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.108);
}

.main-header-text {
    font-family: var(--f-chillax-medium);
    font-size: 4rem;
    text-align: center;
    line-height: 70px;
    color: rgb(64,64,64);
}

.try-for-free-button-container {
    display: flex;
}

.try-for-free-button {
    border: 0;
    background-color: rgb(0, 102, 255);
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    font-family: var(--f-inter);
    padding: 11px 14px;
    border-radius: 1.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 300ms;
}

.try-for-free-button:hover {
    background-color: rgb(0, 93, 231);
}

.main-header-image {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-header-image-itself {
    width: 35%;
    min-width: 550px;
}

/* SECOND HEADER */

.second-header {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.second-header-text {
    display: flex;
    justify-content: center;
}

.second-header-text-itself {
    font-family: var(--f-chillax-medium);
    font-size: 3rem;
    text-align: center;
    line-height: 55px;
    color: rgb(64,64,64);
}

.second-header-sticky-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding-bottom: 200px;
}

.second-header-sticky {
    position: sticky;
    top: 150px;
    width: 750px;
    min-height: 350px;
    border-radius: 2rem;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.108);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
    font-family: var(--f-inter);
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: white;
}

.second-header-sticky:nth-of-type(2) {
    transform: rotateZ(-3deg);
}

.second-header-sticky:nth-of-type(3) {
    transform: rotateZ(5deg);
}

.second-header-sticky-svg {
    display: flex;
}

.second-header-sticky-svg-itself {
    width: 26px;
    height: 26px;
    color: rgb(16, 112, 255);
}

.second-header-sticky-svg-itself-yellow {
    color: rgb(255, 207, 63);
}

.second-header-sticky-svg-itself-purple {
    color: rgb(255, 43, 188);
}

.second-header-stick-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.second-header-sticky-subheader {
    font-size: 1.3rem;
    color: rgb(64,64,64);
}

.second-header-sticky-paragraph {
    line-height: 25px;
    color: gray;
    font-weight: 600;
}

.second-header-stick-included {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}

.second-header-stick-included-span {
    display: flex;
    align-items: center;
    column-gap: 7px;
    color: rgb(64,64,64);
}

.second-header-stick-included-svg {
    width: 20px;
    height: 20px;
    color: gray;
}

/* THIRD HEADER */

.third-header {
    padding-top: 50px;
}

.join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding-bottom: 100px;
    background: linear-gradient(white, #f8f8f8);
}

.join-container > h3 {
    color: rgb(64,64,64);
    font-family: var(--f-inter);
    font-size: 1.5rem;
}

.join-button {
    border: 0;
    background-color: rgb(0, 102, 255);
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    font-family: var(--f-inter);
    padding: 11px 14px;
    border-radius: 1.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 300ms;
}

.join-button:hover {
    background-color: rgb(0, 93, 231);
}

/* FOURTH HEADER */

.fourth-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.statistics {
    margin-top: 80px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.statistic {
    padding-block: 10px;
    border-left: 1px dashed rgba(64, 64, 64, 0.2);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-family: var(--f-inter);
}

.statistic-number {
    font-size: 2rem;
    font-weight: 600;
    color: gray;
}

.statistic-header {
    color: rgb(64,64,64);
    font-size: 1.5rem;
}

.statistic-paragraph {
    font-size: 1.1rem;
    color: gray;
    line-height: 25px;
}

/* PLAN */

.plan {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
}

.fourth-header-text-itself {
    font-family: var(--f-chillax-medium);
    font-size: 3rem;
    text-align: center;
    line-height: 55px;
    color: rgb(64,64,64);
}

.plan-itself {
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.108);
    padding: 35px;
    border-radius: 1rem;
    display: flex;
    background-color: white;
    flex-direction: column;
    row-gap: 35px;
    font-family: var(--f-inter);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
    position: relative;
}

.plan-itself::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.108);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    scale: 0.80;
    transform: translateX(-150px) rotateZ(-8deg);
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
}

.plan-itself::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.108);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    scale: 0.80;
    transform: translateX(150px) rotateZ(8deg);
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
}

.plan-price {
    color: rgb(100, 100, 100);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.plan-price-itself {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(64,64,64);
}

.plan-paragraph {
    color: rgb(100, 100, 100);
    font-size: 1.1rem;
    line-height: 25px;
}

.plan-divider {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.108);
}

.plan-includes {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.plan-inclues-inner {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.plan-inclues-inner-svg {
    width: 15px;
    height: 15px;
    fill: rgb(100, 100, 100);
}

.plan-inclues-inner-text {
    color: rgb(64,64,64);
    font-weight: 500;
}

.get-started-button {
    border: 0;
    background-color: rgb(0, 102, 255);
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    font-family: var(--f-inter);
    padding: 11px 14px;
    border-radius: 1.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 300ms;
    display: flex;
    justify-content: center;
}

.get-started-button:hover {
    background-color: rgb(0, 93, 231);
}

/* FAQ */

.faq {
    padding-bottom: 80px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.faq-text {
    display: flex;
    justify-content: center;
}

.faq-text-itself {
    font-family: var(--f-chillax-medium);
    font-size: 3rem;
    text-align: center;
    line-height: 55px;
    color: rgb(64,64,64);
}

.faq-themselves {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-itself {
    font-family: var(--f-inter);
    width: 700px;
    height: 70px;
    cursor: pointer;
    overflow: hidden;
    transition: height 400ms;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.question-text {
    color: rgb(64,64,64);
    font-weight: 500;
    font-size: 1.2rem;
}

.question-svg {
    color: rgb(100, 100, 100);
}

.answer {
    padding: 10px;
    color: rgb(100, 100, 100);
}

.faq-divider {
    border: 0;
    width: 700px;
    border-top: 1px solid rgba(48, 48, 48, 0.1);
}

.faq-itself-js {
    height: auto;
    padding-bottom: 10px;
}