@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(../styles/chillax.css);

:root {
    --f-chillax: 'Chillax-Light';
    --f-chillax-medium: 'Chillax-Semibold';
    --f-chillax-bold: 'Chillax-Bold';
    --f-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}