/* MAIN */

main {
    padding-top: 145px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.email-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,black 80%, rgb(60,60,60));
    width: 80px;
    height: 80px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.email-svg-itself {
    width: 70%;
}

.main-header-text {
    font-family: var(--f-satoshi-medium);
    font-size: 4rem;
    text-align: center;
    line-height: 70px;
    color: rgb(64,64,64);
}

.main-header-paragraph {
    font-size: 1.2rem;
    font-family: var(--f-inter);
    line-height: 25px;
    text-align: center;
    color: rgb(100,100,100);
}

.email-address-form {
    width: 400px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px;
    column-gap: 5px;
}

.email-address-input {
    border: 0;
    background-color: transparent;
    border-radius: 2rem;
    padding-left: 13px;
    font-family: var(--f-inter);
    outline: none;
    border: 1px solid rgba(0, 102, 255,0);
}

.email-address-input::placeholder {
    color: gray;
    font-size: 1rem;
}

.email-address-input:focus-within {
    border: 1px solid rgb(0, 102, 255);
}


.subscribe-now-button {
    border: 0;
    background-color: rgb(0, 102, 255);
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    font-family: var(--f-inter);
    padding: 0 14px;
    border-radius: 1.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 300ms;
}

.subscribe-now-button:hover {
    background-color: rgb(0, 93, 231);
}

.users {
    display: flex;
    align-items: center;
    font-family: var(--f-inter);
}

.users-image {
    width: 150px;
    height: 1px;
    display: flex;
    align-items: center;
}

.users-image-itself {
    position: absolute;
    width: 33px;
    height: 33px;
    object-fit: cover;
    object-position: top;
    border-radius: 2rem;
    border: 2px solid white;
}

.users-image-itself:nth-of-type(2) {
    transform: translateX(25px);
}

.users-image-itself:nth-of-type(3) {
    transform: translateX(50px);
}

.users-image-itself:nth-of-type(4) {
    transform: translateX(75px);
}

.users-image-itself:nth-of-type(5) {
    transform: translateX(100px);
}

.users-paragraph {
    color: rgb(100,100,100);
    font-size: 1rem;
}

/* BENEFITS */

.benefits {
    padding-bottom: 100px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.benefits-inner {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.benefit {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-family: var(--f-inter);
}

.benefit > svg {
    margin-bottom: 10px;
}

.benefit-svg-blue {
    color: rgb(0, 102, 255);
}

.benefit-svg-yellow {
    color: rgb(255, 200, 0);
}

.benefit-svg-purple {
    color: rgb(255, 105, 240);
}

.benefit-text {
    color: rgb(64,64,64);
    font-size: 1.5rem;
}

.benefit-paragraph {
    color: rgb(115, 115, 115);
    line-height: 25px;
    font-size: 1.2rem;
}